<% include partials/header %>

    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span>Login or Register</h1>
                <a href="/login" class="btn btn-light"> <span class="fa fa-user"></span> LOCAL LOGIN</a>
                <a href="/signup" class="btn btn-light"> <span class="fa fa-user"></span> LOCAL SIGNUP</a>
            </div>
        </div>
    </div>

<% include partials/footer %>
